# Server Configuration
FRONTEND_URL=https://ai-resume-mern.vercel.app/

# Database Connection String (MongoDB Atlas URI)
MONGODB_URI=mongodb+srv://<spendwise_app>:<TrrX832gkyYpWChC>@cluster0.mongodb.net/ai_resume?retryWrites=true&w=majority

# AI API Keys
GEMINI_API_KEY=AIzaSyDx1G2IIji356Kxd3DvBUZJ5lkALObTKks
